:root {
  --col-bg: #1a1b26;
  --col-surface: #24283b;
  --col-surface2: #414868;
  --col-surface3: #565f89;
  --col-p-200: #7dcfff;
  --col-p-500: #7aa2f7;
  --col-p-700: #bb9af7;
  --col-s-200: #b4f9f8;
  --col-s-500: #73daca;
  --col-s-700: #9ece6a;
  --col-on-surface: #c0caf5;
  --col-on-primary: #1a1b26;
  --col-on-secondary: #1a1b26;
  --col-success: #2aa39a;
  --col-danger: #ec4561;
  --col-warning: #f8b425;
  --col-info: #38a5f8;
}
::-webkit-scrollbar {
  width: 0px;
}
.select-none {
  -webkit-user-select: none;
  user-select: none;
}
.nav-bubble-logo {
  width: 3.25rem;
}
.navbar .container img {
  max-height: 3.25rem;
}
a h3 {
  transition: color 140ms ease-in-out;
}

a:hover h3 {
  color: var(--col-p-200);
}
a:active:focus h3 {
  color: var(--col-p-500);
}
.signup-link {
  color: #1a1b26 !important;
}