:root {
  --col-bg: #1c1c1c;
  --col-surface: #303030;
  --col-surface2: #5c5c5c;
  --col-surface3: #565f89;
  --col-p-200: #7dcfff;
  --col-p-500: #7aa2f7;
  --col-p-700: #bb9af7;
  --col-s-200: #b4f9f8;
  --col-s-500: #73daca;
  --col-s-700: #9ece6a;
  --col-on-surface: #c0caf5;
  --col-on-primary: #1a1b26;
  --col-on-secondary: #1a1b26;
  --col-success: #2aa39a;
  --col-danger: #ec4561;
  --col-warning: #f8b425;
  --col-info: #38a5f8;
}
.nav-bubble-logo {
  width: 3.25rem;
}
.navbar .container img {
  max-height: 3.25rem;
}
